body {
  text-align: center;
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  font-family: 'Chelsea Market', cursive;
}

a {
  text-decoration: none;
  color: steelblue;
}

img {
  width: 100%;
}

/*** search box ***/
#search, #submit {
  vertical-align: top;
  height: 2.5em;
  box-sizing: border-box;
}

#search {
  border: 0.8px solid lightgrey;
  padding: 3px;
}

#submit {
  border: none;
  width: 4em;
  background-color: lightblue;
  cursor: pointer;
}

/*** result box ***/
#result-box {
  width: 60%;
  margin: auto;
}

#error-message {
  margin-top: 15px;
}

#result-box ol {
  list-style-position: inside;
  padding: 0;
}

#result-box li {
  margin-bottom: 15px;
  font-weight: 300;
}

.synonym {
  margin: 2px;
  background: lightgrey;
  padding: 5px 8px;
  display: inline-block;
  font-weight: 400;
}

.action-verb {
  background: lightblue;
}

/*** modal button ***/
#info-modal-button {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: 'Chelsea Market', cursive;
}

#info-modal-button:hover, #info-modal-button:focus {
  cursor: pointer;
  color: grey;
}

/*** modal ***/
#info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: auto;
  padding-top: 60px;
}

#modal-content {
  width: 65%;
  margin: auto;
  padding: 50px;
  background-color: white;
  text-align: left;
  position: relative;
  margin-bottom: 60px; /* works as padding-bottom of .modal */
}

#close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 150%;
  color: grey;
}

#close:hover, #close:focus {
  color: black;
  cursor: pointer;
}

#info-modal h2 {
  margin-bottom: 0;
}

#info-modal::after {
  content: "";
  display: block;
  height: 60px; /* works as padding-bottom of .modal */
  width: 100%;
}
