<!DOCTYPE html>
<html>
  <head>
    <title>Resume Action Verbs Thesaurus</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="info-modal-button">i</div>

    <div id="info-modal">
      <div id="modal-content">
        <span id="close">&times;</span>
        <h2>What Is This</h2>
        <p>
          Tired of googling words for your resume?
          Need a better word to replace the verb of your choice?
          Then you've come to the right place!
          This online tool will help you find more effective and powerful words for your resume.
        </p>

        <h2>How to Use</h2>
        <ol>
          <li>Enter a verb which you want to replace with an action verb that has a similar meaning to it and click "Find" button.</li>
          <li>If the verb you've entered is an action verb, the boundary of the search bar will be highlighted in blue.</li>
          <li>Out of all the synonyms, action verbs are highlighted in blue.</li>
          <li>Consider using them in your resume!</li>
        </ol>
        <h3>Example</h3>
        <img src="static/make.png" alt="search results for 'make'">

        <h2>More</h2>
        <ul>
          <li>Developed by a student at University of Washington suffering from writing a resume</li>
          <li>Source code at <a href="https://github.com/sangwo/action-verbs-thesaurus" target="_blank">GitHub</a></li>
          <li>Powered by Merriam-Webster's Collegiate<sup>&reg;</sup> Thesaurus</li>
          <li>Based on career guides from seven top universities in the US</li>
        </ul>
      </div>
    </div>

    <div id="search-box">
      <h2>Find Action Verbs For</h2>
      <form>
        <input type="text" id="search" name="search">
        <input type="submit" id="submit" value="Find">
      </form>
    </div>
    <div id="result-box">
      <div id="error-message"></div>
      <ol></ol>
    </div>

    <script src="static/lib/jquery-3.5.1.min.js"></script>
    <script src="static/action-verbs-script.js"></script>
  </body>
</html>
